//
// Reentry
//
// A game by Riskpeep
World (
    objects : [
        (labels     : ["Bridge"],
        description : "the bridge. Switches, dials, and blinking lights cover the walls.",
        location    : "",
        destination : ""
        ),
        (labels     : ["Galley"],
        description : "the galley",
        location    : "",
        destination : ""
        ),
        (labels     : ["Cryochamber"],
        description : "the cryochamber",
        location    : "",
        destination : ""
        ),
        (labels     : ["Yourself"],
        description : "yourself",
        location    : "Bridge",
        destination : ""
        ),
        (labels     : ["Glossy Photo", "Photo"],
        description : "a glossy photo of a family. They look familiar",
        location    : "Bridge",
        destination : ""
        ),
        (labels     : ["Cryosuit"],
        description : "a silver suit that will protect you in cryosleep",
        location    : "Cryochamber",
        destination : ""
        ),
        (labels     : ["Wrinkled Photo", "Photo"],
        description : "a wrinkled photo of a woman. They woman is crying",
        location    : "Copilot",
        destination : ""
        ),
        (labels     : ["Copilot"],
        description : "your copilot sleeping in his cryochamber",
        location    : "Cryochamber",
        destination : ""
        ),
        (labels     : ["Pen"],
        description : "a pen",
        location    : "Copilot",
        destination : ""
        ),
        (labels     : ["Aft"],
        description : "a passage aft to the galley",
        location    : "Bridge",
        destination : "Galley"
        ),
        (labels     : ["Forward"],
        description : "a passage forward to the bridge",
        location    : "Galley",
        destination : "Bridge"
        ),
        (labels     : ["Aft"],
        description : "a passage aft to the cryochamber",
        location    : "Galley",
        destination : "Cryochamber"
        ),
        (labels     : ["Forward"],
        description : "a passage forward to the galley",
        location    : "Cryochamber",
        destination : "Galley"
        ),
        (labels     : ["Forward", "Port", "Starboard"],
        description : "a bulkhead covered in switchpanels and gauges",
        location    : "Bridge",
        destination : ""
        ),
        (labels     : ["Port", "Starboard"],
        description : "a smooth bulkhead with an endless void on the other side",
        location    : "Galley",
        destination : ""
        ),
        (labels     : ["Aft", "Port", "Starboard"],
        description : "cryochambers backed by a dense tangle of pipes, tubes, and conduits",
        location    : "Cryochamber",
        destination : "")
    ]
)
